.elementor-5297 .elementor-element.elementor-element-5b2cf1d2>.elementor-container {
	min-height: 47vh;
}

.elementor-5297 .elementor-element.elementor-element-5b2cf1d2>.elementor-container:after {
	content: "";
	min-height: inherit;
}

.elementor-5297 .elementor-element.elementor-element-5b2cf1d2>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-5297 .elementor-element.elementor-element-5b2cf1d2:not(.elementor-motion-effects-element-type-background),
.elementor-5297 .elementor-element.elementor-element-5b2cf1d2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2020/08/ramvekmap-scaled.jpg");
	background-position: center center;
	background-size: cover;
}

.elementor-5297 .elementor-element.elementor-element-5b2cf1d2>.elementor-background-overlay {
	background-color: #000000;
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5297 .elementor-element.elementor-element-5b2cf1d2 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-bc-flex-widget .elementor-5297 .elementor-element.elementor-element-447dc486.elementor-column .elementor-column-wrap {
	align-items: flex-end;
}

.elementor-5297 .elementor-element.elementor-element-447dc486.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-5297 .elementor-element.elementor-element-447dc486.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-5297 .elementor-element.elementor-element-447dc486>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-5297 .elementor-element.elementor-element-53452643>.elementor-container {
	max-width: 704px;
	min-height: 18px;
}

.elementor-5297 .elementor-element.elementor-element-53452643>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-5297 .elementor-element.elementor-element-53452643 {
	padding: 5px 100px -2px 100px;
}

.elementor-bc-flex-widget .elementor-5297 .elementor-element.elementor-element-33b8a496.elementor-column .elementor-column-wrap {
	align-items: flex-end;
}

.elementor-5297 .elementor-element.elementor-element-33b8a496.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-5297 .elementor-element.elementor-element-33b8a496.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-5297 .elementor-element.elementor-element-33b8a496>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-5297 .elementor-element.elementor-element-33b8a496>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 50px 0px;
}

.elementor-5297 .elementor-element.elementor-element-44ca6e61 .elementor-spacer-inner {
	height: 50px;
}

.elementor-5297 .elementor-element.elementor-element-44ca6e61 {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-7ca11f3e .elementor-spacer-inner {
	height: 30px;
}

.elementor-5297 .elementor-element.elementor-element-7ca11f3e {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-5bcefff5 {
	text-align: center;
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-5bcefff5 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Helvetica", Sans-serif;
	font-size: 3.8em;
	font-weight: 200;
	line-height: 1.3em;
	letter-spacing: 0.5px;
}

.elementor-5297 .elementor-element.elementor-element-5bcefff5>.elementor-widget-container {
	margin: 0px 0px 10px -5px;
}

.elementor-5297 .elementor-element.elementor-element-697ce381 .elementor-spacer-inner {
	height: 30px;
}

.elementor-5297 .elementor-element.elementor-element-697ce381 {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-2aab1e3 .elementor-spacer-inner {
	height: 40px;
}

.elementor-5297 .elementor-element.elementor-element-2aab1e3 {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-1f0329b5 .elementor-heading-title {
	color: #3DB2FF;
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.elementor-5297 .elementor-element.elementor-element-1f0329b5 {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-746084b6 {
	color: #7A7A7A;
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-9d2098f .elementor-spacer-inner {
	height: 5px;
}

.elementor-5297 .elementor-element.elementor-element-9d2098f {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-4857b569 .elementor-heading-title {
	color: #3DB2FF;
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.elementor-5297 .elementor-element.elementor-element-4857b569 {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(23px/2);
}

.elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(23px/2);
}

.elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(23px/2);
	margin-left: calc(23px/2);
}

.elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-23px/2);
	margin-left: calc(-23px/2);
}

body.rtl .elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-23px/2);
}

body:not(.rtl) .elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-23px/2);
}

.elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-icon i {
	color: #3DB2FF;
	font-size: 18px;
}

.elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-icon svg {
	fill: #3DB2FF;
	width: 18px;
}

.elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-icon {
	text-align: left;
}

.elementor-5297 .elementor-element.elementor-element-638aecfd .elementor-icon-list-text {
	color: #7A7A7A;
	padding-left: 6px;
}

.elementor-5297 .elementor-element.elementor-element-638aecfd {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-600f9aa4:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-5297 .elementor-element.elementor-element-600f9aa4>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F8F8F8;
}

.elementor-5297 .elementor-element.elementor-element-600f9aa4>.elementor-element-populated {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #E5E5E5;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 20px 20px 20px;
}

.elementor-5297 .elementor-element.elementor-element-600f9aa4>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5297 .elementor-element.elementor-global-5487 {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-75cd0cf .elementor-spacer-inner {
	height: 30px;
}

.elementor-5297 .elementor-element.elementor-element-75cd0cf {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-3aff830>.elementor-element-populated {
	padding: 0px 15px 0px 15px;
}

.elementor-5297 .elementor-element.elementor-element-7373e15>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-5297 .elementor-element.elementor-element-fc0147f .elementor-image img {
	width: 99%;
}

.elementor-5297 .elementor-element.elementor-element-fc0147f {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-d8c7cb5>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-5297 .elementor-element.elementor-element-bad75b2 .elementor-image img {
	width: 99%;
}

.elementor-5297 .elementor-element.elementor-element-bad75b2 {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-5bc219b>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-5297 .elementor-element.elementor-element-87e6548 .elementor-image img {
	width: 99%;
}

.elementor-5297 .elementor-element.elementor-element-87e6548 {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-c04b049 .elementor-spacer-inner {
	height: 60px;
}

.elementor-5297 .elementor-element.elementor-element-c04b049 {
	opacity: 1;
	transform: rotate(0deg);
}

.elementor-5297 .elementor-element.elementor-element-faf44aa {
	opacity: 1;
	transform: rotate(0deg);
}

:root {
	--page-title-display: none;
}

@media(max-width:1024px) {
	.elementor-5297 .elementor-element.elementor-element-5b2cf1d2>.elementor-container {
		min-height: 100vh;
	}
	.elementor-5297 .elementor-element.elementor-element-5b2cf1d2>.elementor-container:after {
		content: "";
		min-height: inherit;
	}
	.elementor-5297 .elementor-element.elementor-element-53452643>.elementor-container {
		min-height: 500px;
	}
	.elementor-5297 .elementor-element.elementor-element-33b8a496>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
	}
	.elementor-5297 .elementor-element.elementor-element-5bcefff5 {
		text-align: center;
	}
	.elementor-5297 .elementor-element.elementor-element-5bcefff5 .elementor-heading-title {
		font-size: 2.8em;
	}
	.elementor-5297 .elementor-element.elementor-element-5bcefff5>.elementor-widget-container {
		padding: 0em 2em 0em 2em;
	}
}

@media(max-width:767px) {
	.elementor-5297 .elementor-element.elementor-element-5b2cf1d2>.elementor-container {
		min-height: 71vh;
	}
	.elementor-5297 .elementor-element.elementor-element-5b2cf1d2>.elementor-container:after {
		content: "";
		min-height: inherit;
	}
	.elementor-5297 .elementor-element.elementor-element-5b2cf1d2 {
		padding: 0px 0px 0px 0px;
	}
	.elementor-5297 .elementor-element.elementor-element-447dc486 {
		width: 100%;
	}
	.elementor-bc-flex-widget .elementor-5297 .elementor-element.elementor-element-447dc486.elementor-column .elementor-column-wrap {
		align-items: flex-end;
	}
	.elementor-5297 .elementor-element.elementor-element-447dc486.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
		align-content: flex-end;
		align-items: flex-end;
	}
	.elementor-5297 .elementor-element.elementor-element-447dc486>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-5297 .elementor-element.elementor-element-53452643 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 30px 0px;
	}
	.elementor-5297 .elementor-element.elementor-element-33b8a496 {
		width: 100%;
	}
	.elementor-bc-flex-widget .elementor-5297 .elementor-element.elementor-element-33b8a496.elementor-column .elementor-column-wrap {
		align-items: flex-end;
	}
	.elementor-5297 .elementor-element.elementor-element-33b8a496.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
		align-content: flex-end;
		align-items: flex-end;
	}
	.elementor-5297 .elementor-element.elementor-element-33b8a496.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
		justify-content: center;
	}
	.elementor-5297 .elementor-element.elementor-element-33b8a496>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-5297 .elementor-element.elementor-element-7ca11f3e .elementor-spacer-inner {
		height: 30px;
	}
	.elementor-5297 .elementor-element.elementor-element-5bcefff5 .elementor-heading-title {
		font-size: 1.8em;
	}
	.elementor-5297 .elementor-element.elementor-element-5bcefff5>.elementor-widget-container {
		padding: 0% 7% 0% 7%;
	}
	.elementor-5297 .elementor-element.elementor-element-697ce381 .elementor-spacer-inner {
		height: 20px;
	}
}

@media(min-width:768px) {
	.elementor-5297 .elementor-element.elementor-element-447dc486 {
		width: 100%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-5297 .elementor-element.elementor-element-33b8a496 {
		width: 100%;
	}
}


/* Start custom CSS */

#cntc-frm #formfield {
	margin-bottom: 15px;
}

#cntc-frm #formfield input,
#cntc-frm #formfield textarea,
#cntc-frm #formfield select {
	border-color: #dcdcdc;
	color: #757575;
}

#cntc-frm input[type='submit'] {
	background: #5b5b5b;
	color: #fff !important;
	width: 100%;
}

span#lbel {
	display: block;
	margin-bottom: 10px;
}


/* End custom CSS */